{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis fugiat illo culpa doloremque accusantium sunt, nostrum iure eos tenetur doloribus natus excepturi nisi molestias corporis esse modi cum temporibus!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/Marx.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}